<div class="home-container" *ngIf="addPostForm && !isBgProcessRunning">
  <h3 class="heading-text">Fetch Data</h3>
  <form [formGroup]="addPostForm" novalidate>
    <div class="row">
      <div class="form-group">
        <app-form-error-wrapper [control]="addPostForm.controls['category']" [controlName]="'Category'"
          [apiErrorType]="'category'">
          <ng-select [clearable]="false" formControlName="category" placeholder="Category" [items]="categoryList"
            bindLabel="name" bindValue="name">
          </ng-select>
        </app-form-error-wrapper>
      </div>
      <div class="form-group number-from-group">
        <app-form-error-wrapper [control]="addPostForm.controls['number']" [controlName]="'Number'"
          [apiErrorType]="'number'">
          <input type="number" formControlName="number" />
        </app-form-error-wrapper>
      </div>
    </div>
    <div class="form-group">
      <app-form-error-wrapper [control]="addPostForm.controls['user']" [controlName]="'User'" [apiErrorType]="'user'">
        <ng-select [clearable]="false" formControlName="user" placeholder="User Name" [items]="masterUsersList"
          bindLabel="userName" bindValue="_id">
        </ng-select>
      </app-form-error-wrapper>
    </div>
    <button type="button" [disabled]="addPostForm.invalid || isLoading" class="btn btn-center submit-post"
      (click)="onSubmit()">Submit</button>
  </form>
</div>



<div class="home-container process-running-container" *ngIf="isBgProcessRunning">
  <div class="inner-container">
    <h3 class="heading-text">Process Running</h3>
  </div>
</div>
